/*
    In Responsive Section The !IMPORTANT is used many times
    because i didn't think about order of media matters :)
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video,image{
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.something{
    border: 1px solid black;
    height: 100vh;
}
/* Core styles /*/

/* ---- header's styles ----*/
.header{
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(255, 255, 255, 0.375);
    backdrop-filter: blur(10px);

    z-index: 100;

    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 5fr 4fr 4fr 3fr;
}

/* link styles */
.links{
    display: flex;
    gap: 1.2rem;
}
.links > a{
    text-decoration: none;
    transition: .1s;
    color: rgb(90, 90, 90);
}
.links > a:hover{
    transform: scale(1.1);
    color: black;
}
/* link styles /*/

/* logo styles */
.logo{
    font-size: 1.34rem;
    color:  #023047;
}
.logo > h1{
    font-family: initial !important;
}
/* logo styles /*/

/* Form's styles */
.form{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    border: 2px solid black;
    height: 52%;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
.form-search-input{
    width: 70%;
    height: 99.2%;
    border: none;
    outline: none;
    padding-left: 1rem; /* 16px */
}
.form-search-select{
    width: 15%;
    height: 100%;
    border: none;
    outline: none;
}
.form-search-button{
    width: 15%;
    height: 100%;
    background-color: #023047;;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    border: none;
}
/* Form's styles /*/

/* Icon's styles */
.icons{
    display: flex;
    gap: 1.2rem;
    font-size: 1.2rem;
    color: rgb(0, 32, 0);
    transition: .25s;
}
.icons > i:hover{
    cursor: pointer;
    transform: scale(1.12);
}
/* Icon's styles /*/

/* menu's styles */
.bx-menu{
    display: none;
    z-index: 2;
    transition: 1.2s;
}
.bx-menu2{
    color: white;
}
/* menu's styles /*/
/* ---- header's styles ---- /*/


/* ---- header2's styles ---- */
.header2{
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: 1.2s;
    opacity: 0;
    z-index: 100 !important;
    animation: korinmaslik 1s alternate 1 backwards;
    background-color: #023047;
    transform: scale(0);
}
.bx-menu3{
    position: fixed;
    top: 24px;
    right: 20px;
    color: #fff;
}
@keyframes korinmaslik{
    from{
        opacity: 1;
        width: 200px;
        height: 520px;
        transform: scale(1);
    }
    to{
        width: 0px;
        height: 0px;
        transform:scale(0);
    }
}
.show{
    animation: korinish 1s ease-in-out 1 forwards;
}
@keyframes korinish{
    from {
        opacity: 0;
        width: 0px;
        height: 0px;
        transform: scale(0);
    }
    to{
        opacity: 1;
        width: 200px;
        height: 500px;
        transform: scale(1);
    }
}
.form2{
    width: 90%;
    height: 40px;
    background-color: black;
}
.form-container2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-search-input2{
    width: 60%;
    height: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
}
.form-search-select2{
    width: 20%;
    height: 100%;
    border: none;
    outline: none;
}
.form-search-button2{
    width: 20%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
}
.links2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.4rem;
}
.links2 a{
    text-decoration: none;
    color: white;
}
/* ---- header2's styles ---- /*/


/* ---- Collection's stylees ---- */
.collections{
    margin-top: 100px;
    
    width: 100%;
    height: 700px;
    align-items: flex-start;
    flex-direction: column;
}
/* button's styles */
.collectionBtn__container{
    height: 100%;
    width: 5%;
}
.collectionBtn__container > button{
    width: 2.26rem;
    height: 2.26rem;
    transition: .25s;
    border: 2px solid #023047;
    font-size: 1.8rem;
    color: #023047a0;
    cursor: pointer;
}
.collectionBtn__container > button:hover{
    color: #023047;
    transform: scale(1.02);
}
/* button's styles /*/


/* navigation's styles */
    .collections-navigation{
        width: 100%;
        height: 10%;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .navigation-dot{
        width: 1.2rem; /* 20px */
        height: 1.2rem;
        border-radius: 50%;
        border: 2px solid #023047;
        background-color: white;
        position: relative;
        cursor: pointer;
        transition: 0.25s;
    }
    .navigation-dot:hover{
        transform: scale(1.08);
    }
    .active::before{
        transition: all 1s;
        content: '';
        position: absolute;
        inset:10%;
        border-radius: 50%;
        background-color: #023047;
    }
/* navigation's styles /*/

/* main side */
.collection{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2%;
}
.collectionsContainer{
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: right top;
}
.collection-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.8rem;
    padding: 0 2%;
}
.collection-info > *{
    color: #168aad;
}
.collectionP1{
    font-size: 2.02em;
    color: #52b788;
}
.collectionH1{
    font-size: 3.402em;
    line-height: 3.4rem;
    width: 30%;
}
.collectionP2{
    font-size: 1.1202em;
    width: 52%;
}
/* main side /*/
/* ---- Collection's stylees ---- /*/

/* ---- discount ---- */
.discount{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cloth{
    width: 48%;
    height: 92%;
    background-image: url(./2/2993589\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.cloth-content{
    width: 48%;
    height: 92%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cloth-content-item{
    width: 100%;
    height: 50%;
}
.cloth-content-item:nth-of-type(1){
    background-image: url(./2/Bags\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.cloth-content-item:nth-of-type(2){
    background-image: url(./2/Watch\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.cloth-infos{
    width: 44%;
    height: 100%;
    display: flex;
    gap: 0.72rem;
    padding-left: 20px;
}
.cloth-infos > h1{
    font-size: 28px;
}
.cloth-infos:nth-of-type(1),.main-cloth-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.cloth-infos:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.cloth-infos button{
    width: 120px;
    height: 40px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid black;
    transition: 0.344s;
    cursor: pointer;
}
.cloth-infos button:hover{
    background: orange;
    color: brown;
    font-size: 0.92rem;
    border-color: pink;
}
/* ---- discount ---- /*/


/* ---- products ---- */
.products{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.products-info{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2.4rem 0;
}
.products-info > p{
    width: 45.2%;
    text-align: center;
    opacity: 0.72;
}


.products-cards{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    z-index: 99;
}
.products-cards-container{
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap; */
    
    gap: 2rem;
    padding: 0 2rem;
}
.product-card{
    transition: 0.25s;
    padding: 0.6%;
    z-index: 1;
}
.product-card-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 68px;
    flex-shrink: 0;
    gap: 0.6rem;
}
.product-card img{
    width: 100%;
    z-index: 1;
}
/* .product-card-info */
.product-card:hover{
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0 0 14px rgba(128, 128, 128, 0.600);
}
.product-card:hover .product-card-button{
    opacity: 1;
}
.product-card:hover .product-card-button > button{
    transform: scale(1);
}
.product-card-button{
    width: 100%;
    height: 52px;
    opacity: 0;
    background-color: #023047;
    display: grid;
    place-content: center;
    transition: 0.25s;
}
.product-card-button > button{
    width: 104px;
    height: 32px;
    font-weight: 600;
    color: #023047;
    transition: 0.32s;
    transform: scale(0);
    cursor: pointer;
}
.product-card-button > button:hover{
    background-color: #023047;
    color: white;
    border: 1px solid white;
}
.products-button-container{
    width: 5.6%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-button-container > button{
    border: 0.1rem solid #023047;
    color: #023047; 
    background: none;
    width: 46px;
    height: 40px;
    font-size: 2rem;
    display: grid;
    place-content: center;
    transition: 0.25s;
    cursor: pointer;
}
.products-button-container > button:hover{
    background-color: #023047;
    color: white;
}
/* ---- products ---- /*/


/* ---- first purchase ---- */

.first-purchase{
    height: 200px;
    background-color: #023047;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.first-purchase-info{
    width: 74%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.first-purchase-info h2{
    font-size: 1.52em;
}
.first-purchase-info button{
    padding: 10px 20px;
    border: 0.1rem dashed #168aad;
    background-color: transparent;
    color: #023047;
    font-weight: 600;
    font-size: 0.78em;
}
.first-purchase-info p{
    font-size: 1em;
    font-weight: 600;
}
/* ---- first purchase ---- /*/


/* ------------------- Responsiveness -------------------*/
/* Navbar */
@media (max-width:940px){
    .header{
        grid-template-columns: 5fr 3fr 3fr 3fr;
        padding: 0 4%;
        height: 62px;
    }
    .header > *{
        font-size: 12px !important;
    }
    .form-container{
        height: 64%;
    }
    .form{
        transform: scale(0.8);
    }
    .form-search-button{
        font-size: 1rem;
    }

    .collections{
        margin-top: 60px;
    }
    .cloth-content-item .cloth-infos > h1{
        font-size: 1.4rem;
    }
    .main-cloth-info > button{
        transform: scale(0.88);
        font-size: 0.8rem !important;
        width: 140px !important;
        height: 40px !important;
        background-color: rgba(0, 0, 0, 0.433);
        border: 1px solid red !important;
    }
    .main-cloth-info > h1{
        width: 80%;
        font-size: 1.48rem !important;
    }
    .cloth-infos button{
        width: 112px;
        height: 32px;
        font-size: 0.72rem;
        letter-spacing: 0.102rem;
    }

    /* product */
    .products-button-container > button{
        width: 30.6px !important;
        height: 29.8px !important;
        font-size: 1.6rem !important;
    }
    .product-card-button{
        height: 38.2px !important;
    }
    .product-card-button > button{
        width: 84px !important;
        height: 26px !important;
        font-size: 12px;
    }
    .products-info > h1{
        font-size: 1.64rem !important;
    }
    .products-info > p{
        font-size: 0.8rem !important;
        width: 55% !important;
    }

    .products-cards-container{
        flex-wrap: wrap;
    }
    .products-info{
        padding: 2rem 0 !important;
    }
    .products-cards{
        padding: 1.4rem 0 !important;
    }
    .product-card{
        flex-basis: 220px;
    }
    /* product /*/
}
@media (max-width:740px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form{
        height: 100%;
    }
    .links{
        display: none;
    }
    .bx-menu{
        display: inline-block;
    }
}
/* @media (max-width:540px){
} */
/* Navbar /*/

/* Collections */
@media (max-width:800px){
    .collectionBtn__container{
        width: 8%;
    }
    .collectionBtn__container > button{
        width: 2.08rem;
        height: 2.08rem;
    }
    .discount{
        height: 702px;
        gap: 0 !important;
    }
    .cloth{
        height: 48% !important;
    }
    .cloth-content{
        height: 48%;
        flex-direction: column !important;
    }
    .content-item{
        justify-content: flex-start !important;
    }
    .collection-info > *{
        background: linear-gradient(to right,#133c553f, rgba(0, 0, 0, 0));
        border-radius: 0.4rem;
        padding: 4px;
    }
    .collection-info  .collectionH1{
        width: 60%;
    }
    .navigation-dot{
        width: 1rem;
        height: 1rem;
    }
    .active::before{
        inset: 12.2%;
        transform: translateX(0.4px);
    }
}
@media (max-width:736px){
    .collection-info{
        font-size: 14px;
    }
}
@media (max-width:648px){
    .collection-info{
        font-size: 11.8px;
    }
    .collection-info > *{
        transform: translateY(20px);
    }
}
@media (max-width:544px){
    /* Navbar's form style */
    .form{
        display: none !important;
    }
    /* Navbar's form style /*/


    .collectionBtn__container{
        width: 9.2%;
    }
    .collectionBtn__container:nth-of-type(1){
        justify-content: flex-end;
    }
    .collectionBtn__container:nth-of-type(2){
        justify-content: flex-start;
    }
    .collectionBtn__container > button{
        width: 1.88rem;
        height: 1.88rem;
    }
    .collection{
        align-items: flex-end;
    }
    .collection-info{
        color: #0466c8;
        font-size: 10px;
        height: 35.4%;
        gap: 0.6rem;
        align-items: center;
        text-align: center;
        background-color: rgba(100, 100, 100, 0.100);
        backdrop-filter: blur(6px);
        border-radius: 10px 10px 0 0;
        transform: scaleX(1.2);
    }
    .collection-info > *{
        transform: translateY(0px) scaleX(0.8);
        background: transparent;
        width: 100%;
    }
    .collectionH1{
        width: 100% !important;
        line-height: 2.4rem;
    }
    .collectionP2{
        font-size: 14px;
        color: chocolate;
        font-weight: 600;
    }

    .collections-navigation{
        align-items: flex-start;
        padding-top: 2%;
    }
    .navigation-dot{
        width: 0.86rem;
        height: 0.86rem;
    }
    .active::before{
        inset: 14.84%;
    }
    .active::before{
        transform: translateX(0);
    }

    /* discount */
    .cloth .cloth-infos{
        width: 52% !important;
        padding: 0;
        font-size: 1rem !important;
    }
    /* discount /*/
}
@media (max-width:380px){
    .collection-info{
        font-size: 8.4px;
    }
    .collectionBtn__container{
        width: 12%;
    }
    .collectionBtn__container > button{
        width: 1.58rem;
        height: 1.58rem;
    }
    .collectionP2{
        font-size: 0.72rem;
    }
    .cloth-infos > button{
        width: 88px;
        height: 28px;
        font-size: 0.72rem !important;
    }
    .cloth-infos > .main-cloth-info > h1{
        font-size: 1px;
    }
    .cloth-content-item .cloth-infos > h1{
        font-size: 1rem !important;
    }
    .cloth-content-item .cloth-infos > p{
        font-size: 0.72rem !important;
    }
    #main-cloth-p1{
        font-size: 0.78rem;
    }
    #main-cloth-h1{
        font-size: 1.12rem !important;
    }
    #main-cloth-button{
        width: 112px !important;
        height: 28px !important;
        font-size: 0.56rem !important;
    }
    #main-cloth-button:hover{
        font-size: 0.6rem !important;
    }
}
/* Collections /*/

/* Clothes discount */
@media (max-width:1216px){
    .main-cloth-info{
        padding: 1rem 0;
        border-radius: 1rem;
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        color:aliceblue;
        max-width: 232px;
        gap: 0.46rem;
    }
    .main-cloth-info button{
        color: white;
        border-color: white;
    }

    /* product */
    .product-card-button > button{
        font-size: 0.74rem;
    }
     /* product /*/
}
@media (max-width:1060px){
    .discount{
        flex-direction: column;
        gap: 1rem;
    }
    .cloth{
        width: 88%;
        height: 50%;
    }
    .cloth-content{
        width: 88%;
        height: 50%;
        flex-direction: row;
    }
    .cloth-content-item{
        height: 100%;
    }
    .cloth-content-item .cloth-infos{
        color: brown;
        background-color: rgba(0, 0, 0, 0.200);
        backdrop-filter: blur(2px);
    }
    .content-item{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .cloth-infos > button{
        color: white;
        background-color: darkblue;
        border-radius: 0.66rem;
    }
    

    /* product */
    .product-card-button{
        height: 45.6px;
    }
    .product-card-button > button{
        width: 92px;
        height: 28px;
        font-size: 0.68rem;
    }
    .products-info > h1{
        font-size: 1.8rem;
    }
    .products-info > p{
        width: 56%;
        font-size: 0.92rem;
    }

    .product-card-infop1,.product-card-infop2{
        font-size: .88rem;
    }

    .products-button-container > button{
        width: 36px;
        height: 34px;
        font-size: 1.8rem;
    }
    /* product /*/
}
@media (max-width:300px){
    #cloth-itemp1,#cloth-item2{
        width: 80%;
        text-align: center;
        font-size: 12px !important;
    }
    #cloth-itemh1,#cloth-itemh2{
        width: 80%;
        text-align: center;
        font-size: 0.8rem !important;
    }
    .cloth-content-item button{
        width: 80%;
        width: 80px;
        height: 26px;
        font-size: 0.66rem !important;
    }
    #cloth-content1{
        padding: 10px !important;
    }
    #cloth-content2{
        padding: 10px !important;
    }

    /* collection */
    .collectionBtn__container > button{
        width: 1.32rem !important;
        height: 1.32rem !important;
        font-size: 1.42rem !important;
    }
    /* collection /*/
}
/* Clothes discount /*/

/* product */
@media (max-width:600px){
    .products-cards-container{
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: flex-start;
        overflow-x: scroll;
        padding: 0;
    }
    .product-card{
        transform: scale(0.9);
        z-index: 100;
        flex-shrink: 0;
        width: 100%;
    }
    .products-button-container > button{
        width: 23.4px !important;
        height: 24px !important;
        font-size: 1.38rem !important;
    }


    .products-info > h1{
        font-size: 1.4rem !important;
    }
    .products-info > p{
        width: 66% !important;
        font-size: 0.702rem !important;
    }
}
@media (max-width:482px){
    .products-cards-container{
        width: 200px;
    }

    .products-info > h1{
        font-size: 1.2rem !important;
        text-align: center;
    }
    .products-info > p{
        width: 66% !important;
        font-size: 0.666rem !important;
        color: rgb(50.2, 50.2, 50.2);
    }
}
@media (max-width:300px){
    .products-button-container{
        width: initial;
    }
    .products-button-container > button{
        width: 20px !important;
        height: 20px !important;
        font-size: 1.20rem !important;
    }
}
@media (min-width:600px){
    .product-card:hover{
        transform: scale(1.08) !important;
    }
}
/* product /*/

/* first purchase */
@media (max-width:1266px){
    .first-purchase-info{
        font-size: 14px;
    }
}
@media (max-width:1127px){
    .first-purchase-info{
        font-size: 12px;
    }
}
@media (max-width:994px){
    .first-purchase-info{
        font-size: 11px;
    }
}
@media (max-width:926px){
    .first-purchase{
        height: 160px;
    }
    .first-purchase-info{
        width: 80%;
        height: 50%;
        /* font-size: 10.2px; */
    }
}
@media (max-width:858px){
    .first-purchase-info{
        padding: 0 0.72rem;
        gap: 1rem;
    }
}
@media (max-width:806px){
    .first-purchase{
        height: 112px;
    }
    .first-purchase-info{
        width: 84%;
        padding: 0;
    }
    .first-purchase-info h2{
        font-size: 1.4em;
    }
}
/* first purchase /*/
/* ------------------- Responsiveness -------------------. */